.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
  text-align: center;
}

.detail__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 5rem;
}

.detail__description {
  font-size: 1.25rem;
  margin: 0 7rem 5rem 7rem;
}

.detail__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.detail_img_container {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.detail_img_container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 600px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  margin: 2rem;
  overflow: hidden;
}

.detail_img_container > div > p {
  text-align: center;
  margin: 2rem 0 0 0;
}

.img__border {
  display: flex;
  justify-content: center;
}

.img__border > img {
  max-width: 600px;
  max-height: 450px;
  width: auto;
}

.detail__footer {
  display: flex;
  align-items: center;
}

.home__button {
  transition: color 0.1s ease-in-out;
  cursor: pointer;
}

.home__button:hover {
  color: #ffc107;
}

.home__button > i {
  font-size: 2.6rem;
}

.home__button > p {
  margin-top: 0;
}

.detail__footer__arrow {
  font-size: 1.6rem;
  margin: 0 5rem 1rem 5rem;
  padding: 1rem;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.detail__footer__arrow:hover {
  color: rgba(255, 141, 47, 0.63);
}

.disabled__arrow {
  color: rgba(0, 0, 0, 0.178);
}

.disabled__arrow {
  cursor: not-allowed;
}

.disabled__arrow:hover {
  color: rgba(0, 0, 0, 0.178);
}

a {
  text-decoration: none;
  color: #000;
}
