.home {
  max-width: 1400px;
  margin: 0 auto;
}

.home__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 6rem;
  text-align: center;
}
.home__subtitle__container {
  width: 100%;
  text-align: center;
}
.home__subtitle {
  display: inline-block;
}

.home__container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  padding: 5rem;
  gap: 3rem 0;
  border-radius: 1rem;
}

.home__item {
  height: 250px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 350ms;
  overflow: hidden;
  border: 3px dashed #d6d6d649;
  border-radius: 10px;
}

.home__item:hover {
  transform: scale(1.05);
  filter: blur(5px);
}

.item__img {
  max-height: 250px;
  max-width: 350px;
  border-radius: 10px;
}
